:root {
  --font: "Nunito", sans-serif;
  --game-width: 970px;
}

.main-container {
  display: flex;
  justify-content: center;
  background-color: #e4e4e4;
  height: 100vh;
  user-select: none;
  font-family: var(--font);
}

.app-container {
  display: flex;
  flex-direction: column;
  width: var(--game-width);
  background-color: #ffffff;
}
