:root {
  --font: "Nunito", sans-serif;
  --game-width: 970px;
  --transition: 300ms background-color, 300ms color, 300ms border;
}

/* Generic modal css */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--game-width);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  z-index: 9999;
}

.modal-content {
  font-family: var(--font);
  background-color: #fff;
  width: 100%;
  max-height: 100%;
  max-width: var(--game-width);
  padding: 1rem 0rem 2rem 0rem;
  border-radius: 0.3rem;
  overflow-y: auto;
  animation: fade-in-bottom 0.2s ease-out;
}

.modal-fade-out {
  animation: fade-out-bottom 0.2s ease-out;
}

.modal-title-container {
  display: flex;
  margin: 0.5rem 0rem;
  justify-content: flex-start;
}

.modal-close-button {
  all: unset;
  cursor: pointer;
  margin: 0.2rem 1rem 0rem 0rem;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50%);
    opacity: 0;
  }
}

/* Modal Content */

.modal-title {
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
  margin-left: 2rem;
}

.modal-subtitle {
  text-align: center;
  font-weight: 700;
}

.modal-line {
  border-width: 1px 0 0;
}

/* Instructions */
.modal-point-description-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0rem 2rem;
}

.modal-point-description-text {
  text-align: center;
  margin: 1rem 0rem 0.5rem 0rem;
}

/* Media Queries for responsiveness */

/* X-Small */
@media screen and (max-width: 320px) {
  .modal-title {
    font-size: 1.8rem !important;
  }
  .modal-subtitle {
    font-size: 1.25rem !important;
  }
  .modal-text {
    font-size: 0.9rem !important;
    margin: 0.6rem 1.1rem !important;
  }
  .modal-line {
    margin: 1.5rem 1.1rem !important;
  }
}

/* Small */
@media screen and (max-width: 600px) {
  .modal-title {
    font-size: 2rem;
  }
  .modal-subtitle {
    font-size: 1.5rem;
  }
  .modal-text {
    font-size: 0.95rem;
    margin: 0.75rem 1.25rem;
  }
  .modal-line {
    margin: 2rem 1.25rem;
  }
}

/* Large */

@media screen and (min-width: 600px) {
  .modal-title {
    font-size: 2.5rem;
  }
  .modal-subtitle {
    font-size: 2rem;
  }
  .modal-text {
    font-size: 1.25rem;
    margin: 1rem 2.5rem;
  }
  .modal-line {
    margin: 2.5rem 2.5rem;
  }
}
