.appbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 1000;
}

.appbar-left-container {
  margin-left: 1rem;
}

.appbar-right-container {
  margin-right: 1rem;
}

.appbar-left-container,
.appbar-right-container {
  margin-top: 0.5rem;
}

.appbar-svg-button {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Media Queries for Title responsiveness */

@media screen and (max-width: 600px) {
  .appbar-center-container > .title-container {
    font-size: 1.25rem;
  }
  .appbar-center-container > .title-container > .title-left-container > span {
    height: 1rem;
    width: 1rem;
    font-size: 2rem;
  }
  .appbar-center-container > .title-container > .title-right-container > span {
    height: 1rem;
    width: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 320px) {
  .appbar-center-container > .title-container {
    font-size: 1.1rem;
  }
  .appbar-center-container > .title-container > .title-left-container > span {
    height: 0.8rem;
    width: 0.8rem;
    font-size: 1.8rem;
  }
  .appbar-center-container > .title-container > .title-right-container > span {
    height: 0.8rem;
    width: 0.8rem;
    font-size: 1.8rem;
  }
}
